{% extends 'common.html' %}
{% load staticfiles %}
{% block detail_info %}
    <link rel="stylesheet" href="{% static 'css/regist.css' %}">
{% endblock detail_info %}


{% block index_content %}
    <div class="xiao-container">
		<div class="xiao-login-box">
			<div class="xiao-title-box">
				<span>用户登录</span>
			</div>
			<form method="post">
                {% csrf_token %}
				<div class="xiao-username-box">
					<span class="xiao-require">*</span>
					<label for="username">用户名</label>
					<div class="xiao-username-input">
						<input type="text" id="username" name="username" placeholder="请输入用户名 长度:6-12个字符" />
					</div>
				</div>

				<div class="xiao-userPassword-box">
					<span class="xiao-require">*</span>
					<label for="userPassword">密码</label>
					<div class="xiao-userPassword-input">
						<input type="password" id="userPassword" name="userPassword" placeholder="请输入密码 长度:6-12个字符" />
					</div>
				</div>
                <span class="error_msg" style="color: red;font-size: 12px;margin-top: 200px;position:absolute;font-size: 12px;margin-left: 190px"></span>
				<div class="xiao-loginin-box">
					<input id = "xiao-loginin-button" type="button" onclick="RegistLogin.login(this)" value="登录">
				</div>

                <div class="xiao-goRegist-box">
					<a href="/register" style="text-decoration: none;position:absolute;margin-left: 350px;margin-top: 250px;">去注册&gt</a>
				</div>

			</form>
		</div>
	</div>
    <script type="text/javascript">

    </script>
{% endblock index_content %}
